.header {
}

.header input {
  font-size: 18px;
}

.list {
  overflow-y: scroll;
}

.types {
  display: flex;
  gap: 8px;
}

@media (max-width: 700px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.listItem {
  display: grid;
  width: 100%;
  margin-top: 12px;
  grid-template-columns: 120px 1fr;
  gap: 4px;
}

.listItem * {
  overflow-wrap: anywhere;
}

.patternPreview {
  background-color: #fff;
  border-radius: 4px;
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: pixelated;
}
