.roundBox {
  position: relative;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: rgba(255, 255, 255, 0.9);
}

.history {
  position: absolute;
  display: flex;
  gap: 4px 8px;
  flex-wrap: wrap;
  top: 60px;
  left: 10px;
}

.colorBtn {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
}

.currentColor {
  box-shadow: 0px 0px 0px 3px #ec4dc7;
}

.arrowBtn {
}

.whiteBox {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.perf {
  display: flex;
  flex-wrap: wrap;
}

.perf span:not(:last-child) {
  border-right: 2px solid #222;
}

.perf span {
  padding: 0 8px;
}
