.root {
}

.row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.actionBtn {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 5px solid #5583e5;
  --size: 5px;
  -webkit-mask: conic-gradient(at var(--size) var(--size), #000 270deg, #0000 0) 0 0 /
    calc(100% - var(--size)) calc(100% - var(--size));
}

.actionBtn:hover,
.actionBtn:focus {
  border: 5px solid #efb49e;
}

.sep {
  margin: 0 auto;
}

.plusMinus button {
  align-items: baseline;
  font-size: 24px;
  line-height: 1;
  padding: 0 6px;
}
